.layout {
  background-color: #DBDBDB;
  height: 100%;
}

.ash {
  background-image: url("img/ash.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: bottom right;
  position: relative;
  width: 900px;
}

.cup, .ribbon, .cap {
  position: absolute;
  bottom: 576px;
  left: 326px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: none;
  height: 150px;
  width: 200px;
  cursor: pointer;
}

.cap {
  bottom: 541px;
  left: 542px;
  width: 254px;
  height: 194px;
}

.ribbon {
  width: 61px;
  height: 66px;
  bottom: 310px;
  left: 541px;
  transform: rotate(-10deg);
}

.cap:hover {
  background-image: url("img/cap.png");
}

.ribbon:hover {
  background-image: url("img/ribbon.png");
}

.full-page {
  height: 100%;
  width: 100%;
}

.text-center {
  text-align: center;
  padding-top: 5%;
}

.cup:hover {
  background-image: url("img/cup_light.png");
}

.info, .phone {
  font-size: 20px;
  line-height: 10px;
}

.address {
  font-size: 18px;
  line-height: 14px;
}

.title {
  color: #8b5ba3;
  font-size: 32px;
  line-height: 10px;
}

.wooden, .phone {
  font-family: serif;
}

.top-phrase, .shop {
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.top-phrase {
  background-image: url("img/top_phrase.png");
}

.map {
  margin: auto;
  padding: 0 30px;
  width: 100%;
  max-width: 700px;
}

.shop {
  background-image: url("img/shop.png");
}

.heading-sm {
  display: none;
  text-align: center;
  padding-top: 100px;
}

.find-us {
  background-image: url("img/find.png");
  height: 60px;
  width: 280px;
  background-repeat: no-repeat;
}

.back {
  background-image: url("img/back.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 60px;
  margin: auto;
}

.find-us-wrapper {
  position: absolute;
  right: 15px;
  top: 80%;
}


.scroll-down, .scroll-up {
  margin: auto;
  display: none;
  width: 64px;
  height: 64px;
  border: 4px solid #2C6DB5;
  background-size: 14px auto;
  background-color: #FFCB06;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before, .scroll-up:before {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 11px);
  transform: rotate(-45deg);
  display: block;
  width: 25px;
  height: 25px;
  content: "";
  border: 2px solid #2C6DB5;
  border-width: 0px 0 6px 6px;
}

.scroll-up::before {
  transform: rotate(135deg);
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@media (max-width: 1600px) {
  .ash {
    width: 640px;
    background-size: 550px;
  }

  .cup {
    bottom: 464px;
    left: 150px;
    height: 150px;
    width: 138px;
  }

  .cap {
    bottom: 462px;
    left: 337px;
    width: 220px;
    height: 160px;
  }

  .ribbon {
    width: 55px;
    height: 60px;
    bottom: 260px;
    left: 334px;
  }
}

@media (max-width: 1200px) {
  .ash {
    width: 100%;
    background-size: 550px;
    background-position: bottom left;
  }

  .cup {
    left: 65px;
  }

  .cap {
    bottom: 462px;
    left: 247px;
    width: 220px;
    height: 160px;
  }

  .ribbon {
    width: 55px;
    height: 60px;
    bottom: 260px;
    left: 244px;
  }

  .xs-full-page {
    height: 100%;
  }

  .scroll-down, .scroll-up {
    display: block;
  }

  .heading-sm {
    display: block;
  }
}

.xs-heading {
  background-image: url("img/xs-top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 140px;
  width: 100%;
}

@media (max-width: 767px) {
  .ash {
    width: 100%;
    height: 180px;
    background-size: contain;;
    background-position: center;
  }

  .address {
    font-size: 14px;
    line-height: 12px;
  }

  .title {
    font-size: 24px;
    line-height: 10px;
  }

  .info, .phone {
    font-size: 14px;
    line-height: 10px;
  }

  .cup:hover, .cap:hover, .ribbon:hover {
    background-image: none;
  }

  .scroll-down, .scroll-up {
    display: block;
  }

  .heading-sm {
    display: block;
  }

  .find-us-wrapper {
    position: absolute;
    right: inherit;
    width: 100%;
    top: auto;
    left: 0;
    bottom: 15px;
  }

  .find-us {
    margin: auto;
    height: 40px;
    width: 150px;
    background-size: contain;
  }

  .map {
    padding: 0 10px;
  }

  .xs-full-page {
    padding-top: 20px;
  }
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop.fade.in {
  opacity: .5;
  filter: alpha(opacity=50);
}
